
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="h1"> Charak Ayurvedic Hospital</div>
    
</div><br /><br /><br />
<div class="container text-center" >
  <div class="row align-items-start" >
    <div class="col">
            <h3 class="fst-italic bg-secondary bg-gradient ">Ayurveda</h3>
            <p class="bg-secondary bg-opacity-10" >Ayurveda, an ancient Indian medical system, <br />
            is the focus of the Charak Ayurved Hospital <br />
            which takes a comprehensive approach to patient<br />
            care. The Ayurveda is a whole science <br />
            of health and not just a medical system. The<br />
            Charak Ayurveda Clinic provides a range of therapeutic<br />
            packages that may include rejuvenation therapy, <br />
            various clinical detoxification procedures, and 
            <br />cosmetic care.</p>
      
    </div>
    <div class="col">
            <h3 class="fst-italic bg-secondary bg-gradient">Treatment</h3>
            <p class="bg-secondary bg-opacity-10">
      Ayurveda suggests a full internal cleansing<br />
      therapy to purify and balance the bio-energies.<br />
      Emesis (therapeutic vomiting), enemas, purgation,<br />
      nasal cleansing, and blood purification are<br />
      the five cleansing techniques that make up the <br />
      shodhanakarmas. In addition to this, patients have<br />
      to take a course of ayurvedic medicine as prescribed <br />
      the doctors in order to cure<br /> the disease.
      </p>
    </div>
    <div class="col">
            <h3 class="fst-italic bg-secondary bg-gradient">About Hospital</h3>
            <p class="bg-secondary bg-opacity-10">
          charak Ayurvedic Hospital is serving humanity<br />
          with authentic and time-tested treatment facility<br />
          on an out-patient & in-patient basis in Hoshiarpur,<br />
          Punjab. Our team of dedicated Ayurvedic doctors<br />
          has sustained the reputation of this centre as <br />
          one of the best Ayurvedic hospitals in Hoshiarpur.<br />
          Along with quality treatment, we provide comfortable<br />
          accommodation and nutritious food that play a vital role<br />
          in holistic healing of a patient.
      </p>
      
    </div>
  </div>
</div>
