@{
    ViewData["Title"] = "Info Page";
}

<div class="text-center">
    <div class="h1"> Charak Ayurvedic Hospital</div>

</div>
<br />


<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            <h3 class="fst-italic bg-secondary bg-gradient ">
                Dr.Abhimanyu Sharma, B.P.T. Physiotherapy<br />
                Physiotherapist, Punjab
            </h3>

            <p class="bg-secondary bg-opacity-10">
                Physiotherapist and consultant, 20 years of experience<br />
                Civil Hospital and Charak Ayurvedic Hospital, Model Town, Hoshiarpur<br />
                Highlights<br />
                Dr.Abhimanyu is a well-experienced Physiotherapist <br />
                in Punjab with more than 20 years of experience.<br />
                He holds expertise in handling several health issues related to bones.<br />
                He is a one of the most-esteemed Sports, Masculoskeletal and Orthopedic <br />
                Physiotherapist in Punjab. <br />
                After completing Diploma in Physotherapy, he pursued B.P.T. in Physiotherapy.<br />
                He is an active member of the Indian Association Of Physiotherapist.
            </p>
        </div>
    </div>
</div>
<div>
    <a asp-controller="DoctorsList" asp-action="Index">Previous Page</a>
</div>