@{
    ViewData["Title"] = "Info Page";
}

<div class="text-center">
    <div class="h1"> Charak Ayurvedic Hospital</div>

</div>
<br />


<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            <h3 class="fst-italic bg-secondary bg-gradient ">
                Dr.Amarjit Kaur, B.Sc Ayurveda, B.A.M.S<br />
                Heptologistist, Punjab
            </h3>

            <p class="bg-secondary bg-opacity-10">
                Heptologist and consultant, 20 years of experience<br />
                Charak Ayurvedic Hospital, Model Town, Hoshiarpur<br />
                Highlights<br />
                Dr.Amarjit is a well-experienced Medical Practioner <br />
                in Punjab with more than 25 years of experience.<br />
                She holds expertise in handling several diseases.<br />
                She has extensive experience in the diagnosis and treating Liver Diseases, <br />
                Stomach diseases and Heart Diseases. <br />
                Dr Amarjit always welcomes patients with chronic liver disease cases, like <br />
                liver cirrhosis, fatty liver, hepatomegaly, and those who lost their hope to<br />
               
                live, whoever lost an chance to do their second or third angiogram, angioplasty,
                by age and health. <br />
                After completing B.Sc, she pursued B.A.M.S. and now she is a member <br />of Indian Council Of Ayurveda.<br />
                
            </p>
        </div>
    </div>
</div>
<div>
    <a asp-controller="DoctorsList" asp-action="Index">Previous Page</a>
</div>