@{
    ViewData["Title"] = "List Of Doctors";
}

<div class="text-center">
    <div class="h1"> Charak Ayurvedic Hospital</div>
</div>


<br />
<br />
<br />
<div class="container text-center">
    <div class="row align-items-start">
         


        <table class="table table-hover" >
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Doctor</th>
                    <th scope="col">Specialist</th>
                    <th scope="col">Click here for more info</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Dr.Sarbjit Singh</td>
                    <td>Gastro-Specialist</td>
                    <td ><a class="nav-link text-primary" asp-area="" asp-controller="DoctorsList" asp-action="SarbjitInfo">Dr.Sarbjit Singh</a></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Dr.Amarjit Kaur</td>
                    <td>Heptologist</td>
                    <td><a class="nav-link text-primary" asp-area="" asp-controller="DoctorsList" asp-action="AmarjitInfo">Dr.Amarjit Kaur</a></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Dr.Abhimanyu Singh</td>
                    <td>Physiotherapist</td>
                    <td><a class="nav-link text-primary" asp-area="" asp-controller="DoctorsList" asp-action="AbhimanyuInfo">Dr.Abhimanyu Singh</a></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Dr.Mridhu Sharma</td>
                    <td>Panchkarma Therapist</td>
                    <td><a class="nav-link text-primary" asp-area="" asp-controller="DoctorsList" asp-action="MridhuInfo">Dr.Mridhu Sharma</a></td>
                </tr>
            </tbody>
        </table>

</div>
</div>