@{
    ViewData["Title"] = "Info Page";
}

<div class="text-center">
    <div class="h1"> Charak Ayurvedic Hospital</div>

</div>
<br />


<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            <h3 class="fst-italic bg-secondary bg-gradient ">
                Dr.Mridhu Sharma, B.A.M.S. Panchkarma <br />
                Panchkarma Therapist, Punjab
            </h3>

            <p class="bg-secondary bg-opacity-10">
                Panchkarma therapist and consultant, 20 years of experience<br />
                Charak Ayurvedic Hospital, Model Town, Hoshiarpur<br />
                Highlights<br />
                Dr.Mridhu is a well-experienced Panchkarma Practioner<br />
                in Punjab with more than 20 years of experience.<br />
                She holds expertise in handling several health problems.<br />
                She has extensive experience in the diagnosis and treating diabetes, <br />
                hypertension, chronic cough, asthma, gyneacology, PCOD, infertility <br />and many more<br />
                She has not only relieved patients from pain but also lead a Happy & Healthy Life.<br />
                After completing B.Sc in medicine, she pursued B.A.M.S. in Panchkarma.<br />

            </p>
        </div>
    </div>
</div>
<div>
    <a asp-controller="DoctorsList" asp-action="Index">Previous Page</a>
</div>