@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="h1"> Charak Ayurvedic Hospital</div>

</div><br />
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
            <h3 class="fst-italic bg-secondary bg-gradient ">Dr.Sarbjit Singh, B.A.M.S, M.D.<br />
                Gastoentrologist, Punjab</h3>
            
            <p class="bg-secondary bg-opacity-10">Consultant, 32 years of experience<br />
            Charak Ayurvedic Hospital, Model Town, Hoshiarpur<br />
            Highlights<br />
            Dr.Sarbjit is a well-experienced Medical Gastroenterologist <br />
            in Punjab with more than 32 years of experience.<br />
            He holds expertise in handling several Gastrointestinal problems.<br />
            He has extensive experience in the diagnosis and treating Acidity Treatment, <br />
            Ulcerative Colitis Treatment, Inflammatory Bowel Disease, and Gastritis Treatment.<br />
            After completing medical school, he pursued MD in Medicine followed by DM <br />in Gastroenterology.<br />
            He is an active member of the Punjab Medical Council.
        </p>
    </div>
    </div>
    </div>
    <div>
    <a asp-controller="DoctorsList" asp-action="Index">Previous Page</a>
</div>